@font-face {
  font-family: ProximaNovaCondensed;
  src: url("../fonts/ProximaNovaCondensed/FontsFree-Net-Proxima-Nova-Cond-Reg.otf");
}

@font-face {
  font-family: ProximaNova;
  src: url("../fonts/ProximaNova/proximanova_regular.ttf");
}

html {
  box-sizing: border-box;
  font-family: ProximaNovaCondensed, sans-serif;
  font-size: 8.5px;
}

body {
  margin: 0;
  color: $color-main;
}
